/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF RESET */

/* Screen reader only */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
  }
  
  /* Button styling */
  .menu-toggle {
	display: inline-block;
	padding: .75em 15px;
	line-height: 1em;
	font-size: 1em;
	color: white;
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
	color: #f7931e;
  }
  
  /*
   Default styles + Mobile first
   Offscreen menu style
  */

  .main-menu {
	position: absolute;
	display: none;
	left: -200px;
	top: 0;
	height: 100%;
	overflow-y: scroll;
	overflow-x: visible;
	transition: left 0.3s ease,
		  box-shadow 0.3s ease;
	z-index: 999;
  }
  
  .main-menu ul {
	list-style: none;
	margin: 0;
	padding: 2.5em 0 0;
	/* Hide shadow w/ -8px while 'closed' */
	-webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
	   -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
			box-shadow: -8px 0 8px rgba(0,0,0,.5);
	min-height: 100%;
	width: 200px;
	background: #1a1a1a;
  }
  
  .main-menu a {
	display: block;
	padding: .75em 15px;
	line-height: 1em;
	font-size: 1em;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #383838;
  }
  
  .main-menu li:first-child a {
	border-top: 1px solid white;
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
	background: #1a1a1a;
	text-decoration: underline;
  }
  
  .main-menu .menu-close {
	position: absolute;
	right: 0;
	top: 0;
  }

  /*
   Demo purposes only
  */
  *,
  *:before,
  *:after {
	box-sizing: border-box;
  }
  
  header {
	padding: 20px;
	display: flex;
	align-items: baseline;
	background-color: #614135;
  }
  
  article {
	padding: 30px;
	width: 55em;
	font-size: 16px;
	line-height: 1.5em;
  }
  
  article h2 {
	font-weight: 500;
	font-size: 28px;
  }

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

.logo {
	width: 150px;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}

/* Hamburger menu by Mark Caron @ https://heyoka.medium.com/responsive-pure-css-off-canvas-hamburger-menu-aebc8d11d793 */

/* .welcomeimg {
	width: 100%;
	z-index:1;
}
*/

.welcome {
	width: 100%;
	background-image: url(images/pexels-pixabay-356036.jpg);
	z-index: 1;
}

.blackbox {
	background-color: #000;
	opacity: 50%;
}

.teamphoto {
	width: 100%;
}

.project1 {
	width: 100%;
}

.certi1 {
	width: 100%;
}

h2 {
	color:#f7931e;
	font-size: 2.5rem;
	font-family: 'Tilt Warp';
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}

h3 {
	color:#614135;
	font-size: 2rem;
	font-family: 'courgette';
	text-align: center;
}

h4 {
	color:#f7931e;
	font-size: 2rem;
	font-family: 'courgette';
	text-align: center;
	margin-top: 8%;
	margin-bottom: 5%;
}

p {
	font-family: Arial;
	text-align: center;
	margin: 8%;
	margin-bottom: 10%;
	line-height: 25px;
	font-size: 1.1rem;
}

footer {
	background-color: #614135;
	padding-top:10px;
	padding-bottom:10px;
}

.footertxt {
	color:white;
	font-size: 10px;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
}

.product1 {
	border-radius: 50%;
	width: 40%;
	height:40%;
	margin-left: 10%;
	margin-bottom: 10%;
}

.product2 {
	border-radius: 50%;
	width: 40%;
	height: 40%;
	margin-bottom: 10%;
}

.servicesbutton:link, .servicesbutton:visited {
	background-color: #f7931e;
	color: white;
	font-family: Arial;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	border-radius: 15%;
	display: flex;
    justify-content: center;
	margin-bottom: 10%;
  }
  
.servicesbutton:hover, .servicesbutton:active {
	background-color: #fcc062;
}

.reviews {
	background-color: #e6e7e8;
	padding-top:0.5em;
	padding-bottom: 0.5em;
}

.msgush2 {
	color:white;
}

.msgus {
	background-color: #f7931e;
	display: block;
	text-align: center;
	padding: 3%;
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	font-family: Arial;
	border: none;
}

input {
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px;
	border-radius: 15%;
	border: none;
}

.msg {
	padding: 30px;
	padding-left: 75px;
	padding-right: 75px;
}

.submitbutton {
	background-color: #fcc062;
	padding: 10px;
	padding-left: 35px;
	padding-right: 35px;
}

.missionvisionabout {
	border: 1px solid #f7931e;
	border-radius: 10%;
}

.mvacontainer {
	margin-top: 8%;
	margin-left: 25%;
	margin-right: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 15px;
}

.mvah3 {
	margin-top: 10%;
}

.welcomebutton {
	background-color: #f7931e;
	padding: 10px;
	padding-left: 35px;
	padding-right: 35px;
	font-family: Arial;
}

.projects {
	background-color: #e6e7e8;
	padding-bottom: 1%;
}

.certificationsbox {
	display: flex;
	flex-wrap: wrap;
}

.arrowbutton {
	background-color: #fcc062;
  	border: none;
  	color: white;
  	text-align: center;
  	font-size: 1.5rem;
	border-radius: 50%;
	width: 55px;
	height: 55px;
}
